@import "tailwindcss";

@theme {
  --color-cobalt-green: #93FF93;
  /* C42 M0 Y42 K0 */
  --color-lemon-yellow: #F2FF26;
  /* C5 M0 Y85 K0 */
  --color-burnt-sienna: #A7374B;
  /* C18 M73 Y63 K20 */
  --color-wedding-blue: #0C75FF;
  /* C95 M54 Y0 K0 */

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #FAFAF9;
  /* Stone 50 - Soft warm white */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}